# OS Stuff

# Node Stuff
node_modules

# IDE Stuff

## phpStorm
.idea

## SublimeText
*.sublime-workspace
*.sublime-project

# Project Stuff
tests/tmp/
tests/_data/
tests/_output/
tests/_envs/
vendor/
composer.lock