# OS Stuff

# Node Stuff
node_modules

# IDE Stuff

## phpStorm
.idea

## SublimeText
*.sublime-workspace
*.sublime-project

# Project Stuff
tests/_data/*
# exception to the rule
!tests/_data/.gitkeep 

tests/_output/*
# exception to the rule
!tests/_output/.gitkeep

tmp/*
# exception to the rule
!tmp/.gitkeep

vendor/
composer.lock