# OS Stuff

# Node Stuff
node_modules

# IDE Stuff

## phpStorm
.idea

## SublimeText
*.sublime-workspace
*.sublime-project

# Project Stuff
tests/_data/dump.sql
tests/_output/*
tests/tmp/*

tmp/*
vendor/
composer.lock